#content
{
	background: blue;
	width: 100%;
}

#days-list
{
	width: 85%;
	margin: 0 auto;
	list-style-type: none;
}

.days-item
{
	display: block;
	width: 19%;
	height: 30em;
	float: left;
	position: relative;
	margin-right: 1%;
}

.forecast-frame
{
	height: 100%;
	background: red;
}

.tasks
{
	height: 20%;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	background: green;
}

.tasks-list
{
	text-align: center;
	list-style-type: none;
}

.tasks-list li
{
	height: 33%;
}