#frame 
{
	/* All other things are calculated with that height */
	/* changing this will affect whole layout*/
	height: 500px;

	width: 100%;
}

#frame #weather-guy 
{
	float: left;
	height: 100%;
	width: 300px;
	background-color: blue;
}

#frame #info-panel 
{
	float: right;
	height:50%;
	width: 450px;
	background-color: purple; 
}

#frame #tasks 
{
	float: right;
	height: 50%;
	width: 450px;
	background-color: green; 
}

/* info-panel -> first line */
#frame #info-panel #first-line {
	height: 55%;
	width: 100%;
}

#frame #info-panel #first-line #icon {
	float: left;
	height: 100%;
	width: 50%;
	background-color: gray;
}

#frame #info-panel #first-line #temperature {
	float: right;
	height: 100%;
	width: 50%;
	background-color: black;
}

/* info-panel -> second-line */
#frame #info-panel #second-line {
	width: 100%;
	height: 25%;
	background-color: yellow;
}