#frame 
{
	/* All other things are calculated with that height */
	/* changing this will affect whole layout*/
	height: 500px;
	width: 100%;
}

#frame #weather-guy 
{
	float: left;
	height: 88%;
	width: 40%;
	background-color: blue;
}

#frame #info-panel 
{
	float: right;
	height:45%;
	width: 60%;
}

#frame #tasks 
{
	float: right;
	height: 43%;
	width: 60%;
	background-color: green; 
}

/* info-panel -> first line */
#frame #info-panel #first-line 
{
	height: 60%;
	width: 100%;
}

#frame #info-panel #first-line #icon 
{
	float: left;
	height: 100%;
	width: 45%;
	background-color: gray;
}

#frame #info-panel #first-line #temperature
{
	float: right;
	height: 100%;
	width: 55%;
}

#frame #info-panel #first-line #temperature p 
{
	position: relative;

	font-weight: 100;
	font-size: 9.5em;

	text-align: center;
	line-height: 0.8;
	letter-spacing: -0.05em;
}

/* info-panel -> second-line */
#frame #info-panel #second-line 
{
	width: 100%;
	height: 25%;
}

#frame #info-panel #second-line p
{
	position: relative;
	text-align: center;

	font-weight: 400;
	font-size: 3em;

	line-height: 0.8;
}

/* info-panel -> third-line */
#frame #info-panel #third-line 
{
	width: 100%;
	height: 15%;
}

#frame #info-panel #third-line p
{
	position: relative;
	text-align: center;

	font-weight: 300;
	font-size: 1.8em;

	line-height: 0.8;
}

/* info-panel -> fact of the day */
#frame #title-fact
{
	float: left;
	height: 5%;
	width: 100%;	
}

#frame #title-fact p
{
	position: relative;
	font-weight: 400;
}

#frame #fact 
{
	float: left;
	height: 7%;
	width: 100%;
}

#frame #fact p {
	position: relative;
	display: inline-block;
	text-align: center;

	font-weight: 300;
	font-size: 1.7em;

	letter-spacing: -0.05em;
}