/********************************************

CSS RESET AND NORMALIZE

*********************************************/
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

/* colors */
body
{
    background: -webkit-linear-gradient(#5a8dc4 10%,  #9fbbd2 40% , #dd7f4b 70%, #F0A153 100%); /* Safari 5.1 to 6.0 and Chrome 10+ */
    background: -o-linear-gradient(#5a8dc4 10%,  #9fbbd2 40% , #dd7f4b 70%, #F0A153 100%); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#5a8dc4 10%,  #9fbbd2 40% , #dd7f4b 70%, #F0A153 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5a8dc4 10%,  #9fbbd2 40% , #dd7f4b 70%, #F0A153 100%); /* Standard syntax */
}

p, h1, h2, h3, h4, h5, h6, a, span, td
{
    color: white;
    font-family: 'Roboto', sans-serif;
}

p, h1
{
    color: black;
}

/* links-decoration */
a
{
    text-decoration: none;
}

h1
{
    font-size: 2em;
    font-weight: 300;
}

#wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1.5em;
}

/********************************************

HEADER

*********************************************/

header
{
    width: 100%;
    height: 50px;
    background-color: #4a708b;
}

#header-content
{
    width: 750px;
    margin: 0 auto;
    /* background: yellow; */
    height: 50px;
}

/* title */
#header-content h1
{
    padding: 5px;
    float: left;
}

/* navigation links */
#header-content ul
{
    position: relative;
    height: 20px;
    /* background: red; */
    float: right;
    list-style: none;
    right: 10px;
    top: 14px;
}

#header-content ul li
{
    float: left;
    margin-left: 5px;
    /* background: blue; */
    height: 100%;
}

#header-content ul li:hover
{
    background: orange;
}

/********************************************

CONTENT

*********************************************/

#content
{
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

/* Responsive for 1920 x 1080 */
@media screen and (max-width: 1920px){
    #content
    {
        width: 800px;
    }
}

/********************************************

FOOTER

*********************************************/

footer, #push-div
{
    height: 1.5em;
    clear: both;
}

footer
{
    width: 100%;
    background-color: #ca6649;
}

#footer-content
{
    /* background: violet; */
    width: 750px;
    margin: 0 auto;
    text-align: center;
    height: 1.5em;
}

#footer-content p
{
    display: block;
}

/********************************************

OTHER

*********************************************/